body, h1, h2, h3, ul, ol, li, p {
	margin: 0;
	font-style: "Trebuchet MS";
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

* {
box-sizing: border-box;
}

a {
text-decoration: none;
}


img {
max-width: 100%;
}

.ricardo {
	position: relative;
	width: 380px;
	height: 600px;

}

.ricardo__hair {
	position: absolute;
	left: -20px;
	border-radius: 200px 200px 0 0;
	height: 320px;
	width: 420px;
	background-color: #402d0f;
}

.face {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: 50%;
	background-color: #fadcb6;
}

.face__chub {
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 200px;
	border-radius: 30px 120px 80px 150px;
	background-color: #4085e6;
}

.face__middle{
	position: absolute;
	left: 0;
	right: 0;
	top: 200px;
	height: 100px;
}

.ear {
	position: absolute;
	top: 0;
	height: 150px;
	width: 80px;
	background-color: #fadcb6;
	border-radius: 40%;

}

.ear.-left {
	left: -60px;
}
.ear.-right {
	right: -60px;
}

.eye {
	position: absolute;
	top: 0;
	background-color: #000000;
	height: 50px;
	width: 30px;
	border-radius: 50%; 

}

.eye.-left {
	left: 100px;
}

.eye.-right {
	right: 100px;
}

.eyeball {
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	left: 9px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #fff; 
}